APP_NAME="Titanic-Survived-Classification"
VERSION="1.0"
API_SECRET_KEY=
SUPABASE_URL="https://hhhojhhpzeelkkcnpprn.supabase.co"
SUPABASE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhoaG9qaGhwemVlbGtrY25wcHJuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODU1OTAxNzUsImV4cCI6MjEwMTE2NjE3NX0.-LJLWc4Ew26ffubTI1wqphMfvHSqFZ8IA6K83UWn664"